*{
	box-sizing: border-box;
	margin: 0;
}
body{
	font-family: 'Lato' , sans-serif;
	
	font-weight: 300;
	overflow-x:hidden; 
	
}
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
p{
	line-height: 1.3;
}
.section-gap{
	margin-top: 90px;
}