.container{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

.row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    
    @mixin smallScreen {
        flex-direction: row;
        
    }
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    
    align-items: center;
}
/* .column-big{
	flex: 2;
} */

.justify-content-center{
    justify-content: center;
}
.justify-content-start {
    justify-content: start;
}
.justify-content-end {
    justify-content: end;
}

.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-start  {
    align-items: start;
}
.align-items-end  {
    /* align-items: end; */
    align-items: flex-end;
}
.align-items-center  {
    align-items: center;
}
.align-items  {
    align-items: stretch;
}








