.the-band{
	&__band-info{
		text-align: justify;
		padding:0 16px;
	}

&__band-member-image{

	@mixin smallScreen{
	width: 120px;
	height: 120px;
	}
	@mixin mediumScreen{
		width: 150px;
		height: 150px;
		}
	@mixin largeScreen{
		width: 150px;
		height: 150px;
	}
	
}
&__band-member-cover{
	
	
	margin-top: 20px;
	margin-bottom: 90px;
	
}
/*
&__test{
	padding-right: 30px;
}
*/
&__band-member-name{
	text-transform: capitalize;
	font-size: 16px;
	padding-bottom: 20px;
	text-align: center;

	
}
&__test{
	justify-content: center;
	padding: 20px;
}
}