.btn{
        padding: 10px 20px;
        margin: 10px;
        margin-left: 0;
        border: none;
        font-size: 1em;
        font-weight: 400;
        text-transform: capitalize;

       
    
    &__btn-black{
        color: $white;
        background-color: $black;
        transition: all 0.5s ease;
    }
    &__btn-black:hover{
        color: $light-black;
        background-color: $light-grey;
        cursor: pointer;
    }
   
}
.column-end{
    align-items: flex-end; 
}
.column-start{
    align-items: flex-start;
}
