.form-control {
    background-color: $white;
    border: solid 1px $light-grey;
    color: #333;
    height: 40px;
    font-size: 15px;
    line-height: 1;
    font-weight: 300;
    padding: 4px 15px;
   margin: 0;
    border-radius: 4px;
    box-shadow: none;
    display: block;
    width: 100%;
    
    transition: border-color .3s ease-in-out;
    &:focus {
        background-color: $white;
        border-color: $medium-grey;
        outline: 0 none;
        box-shadow: none;
    }
}
.p20{
    padding: 10px;
}
textarea.form-control {
    resize: vertical;
    min-height: 200px;
    padding: 20px 15px;
}



