.general-heading{
	&__title{
	color: #111;
}
&__title-general{
	letter-spacing: 5px;
	font-size: 30px;
	font-family: "Segoe UI",Arial,sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}
&__subtitle{
	text-align: center;
	font-size: 16px;
	color: $medium-grey;
	/* color: #C8C8C8; */
	padding: 20px 0;
	font-weight: 400;
	font-style: italic;
}
&__t-title{
	color: $white;
}
}