.large-hero{
	&__image{
		position: relative;
	}
	&__info{
		position: absolute;
		bottom: 50px;
		width: 100%;
		color: $white;
		z-index: 10;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0,0,0,.6);
	}
	&__-info-title{
		text-transform: capitalize;
		padding-bottom: 20px;
	}
	
}


