.tour-dates{
   
    &__cover{
        background-color: $black;
        padding-top: 90px;
        padding-bottom: 90px;
    }
    &__dates-cover{
        background-color: $white;
        padding: 5px 10px;
        margin: 10px;
        color: $medium-grey;
        @mixin smallScreen{
            width:100%;
        }
       
    }
    &__september,&__october{
        border-bottom: 1px solid $light-grey;
    }
    &__september,&__october , &__november{
        padding: 10px;
        text-transform: capitalize;
    }

    &__sold-out{
        background-color: $red;
        color: $white;
        padding: 3px 5px ;
        margin-left: 10px;
        text-transform: none;
    }
    &__three{
        background-color: #$light-black;
        color: $white;
        padding:  5px 10px;
        border-radius: 50px;
        float: right;
        font-size: 12px;
    }

    &__tours-card-1{
        /* width: 250px; */
        border: 1px solid #$light-grey;
        background-color: $white;
        color: $light-black;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);

    }
    
    &__tours-card-info{
        padding: 20px;
    }
    &__card-title{
        text-transform: capitalize;
        font-size: 20px;
    }
    &__tours-img:hover{
        content: '';
        opacity: 0.7;
        cursor: pointer;
        background: $light-black
    /*	 background: rgba(0, 0, 0, 0.9);*/
    }
    &__card-title{
        font-size: 1em;
        font-weight:bold;
       padding-bottom: 10px;
    }
    &__card-subtitle{
        color: $medium-grey;
        font-size: 1em;
        text-transform: capitalize;
        padding-bottom:10px ;
    }
    &__cardinfo{
        font-size: 1em;
        padding-bottom:10px ;
    }
    &__tours-card-1 img{
       width: 100%;
    }
    &__tour-card-cover  .column{
        margin: 30px 10px;
        align-items:unset;
    }



}








